<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pagina di template</title>
</head>
<body>

<h1>Pagina dinamica v1</h1>

<div>
    <p>Data e ora: <span th:text="${dataora}"> testo da cambiare </span></p>
</div>

<div>
    <p>dtobj: <span th:text="${dtobj}">...... </span></p>
</div>

<div>
    <p>dtobj: <span th:text="${dtobj.year}">...... </span></p>
</div>

<div>
    <ul>
        <li th:each="item,idx : ${estratti}">
            <span th:text="${idx.count}"> </span> ° estratto:
            <span th:class="${item%2==0 ? 'pari':'dispari'}" th:text="${item}">
            </span>
        </li>
    </ul>
</div>

</body>
</html>